# Node.js - Dependências (Essencial ignorar, o instalador baixa elas sozinho)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dados do Sistema (Logs de Bugs locais)
backend/data/bugs.json

# Arquivos de Sistema e IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
desktop.ini

# Executáveis e Instaladores Locais
*.exe
*.bat
*.hta
# Nota: O instalador EXE que você enviar para o professor deve estar FORA do GitHub
# ou em um repositório de "Releases" para manter o código limpo.
